.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.nav-icons {
  margin-right: 8px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  
}


.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}

.search {
  padding: 10px
}